.ball-move-container{
    margin: 0 auto;
    width:min(95vw,230px);
    aspect-ratio: 1/1;
    background-color:#000;
}

.ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
    animation: move 2s infinite;
}   